@using WebShop.Model;
@model List<KeyValuePair<Article,int>>

@{
    bool isReadOnly = ViewBag.IsReadOnly ?? false;
    
}

@if (Model.Any())
{
    <table>
        <tr><td>Your Shopping Cart</td></tr>
        <tr>
            <td>
                <table>

                    @foreach (KeyValuePair<Article, int> item in Model)
                    {
                        <tr>
                            <td>@item.Key.Name</td>

                            <td>
                               @if (!isReadOnly)
                               {
                               @Ajax.ActionLink("Add", "Add", new { id = item.Key.Id }, new AjaxOptions
                                {
                                    UpdateTargetId = "shoppingcart_cont",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET"
                                })
                               }&nbsp;
                            </td>
                            <td><input type="text" readonly="true" value="@item.Value.ToString()" style="width:20px;"/></td>
                            <td>
                               @if (!isReadOnly)
                               { 
                               @Ajax.ActionLink("Remove", "Remove", new { id = item.Key.Id }, new AjaxOptions
                                {
                                    UpdateTargetId = "shoppingcart_cont",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET"
                                })
                               }&nbsp;
                            </td>
                            <td style="color:Red;">
                                € @String.Format("{0:0.00}", item.Key.TotalPrice * item.Value)
                            </td>
                        </tr> 

                    }
                    <tr>
                        <td colspan="4" align=right>Total</td>
                        <td style="color:Red;">
                            € @String.Format("{0:0.00}", Model.Sum(c => c.Key.TotalPrice * c.Value))
                        </td>
                    </tr> 

                    @if (!isReadOnly)
                    {
                    <tr>
                        <td colspan="5" align="right">@Html.ActionLink("Complete", "Complete") </td>
                    </tr>
                    }                   
                </table>
            </td>
        </tr>
        
    </table>
}
else
{
    //empty shopping cart
    <p>Your shopping cart is empty! </p>
}
